## Import Depenndencies

In [174]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
import math

## Get idea about the data

In [117]:
dataFrame = pd.read_csv("bengaluru_house_prices.csv")
dataFrame.head(5)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [118]:
dataFrame.shape

(13320, 9)

In [119]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [120]:
dataFrame.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [121]:
dataFrame.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [122]:
dataFrame.groupby('area_type')['area_type'].count()

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [123]:
Society_column_missing_value_precentage = (dataFrame["society"].isnull().sum()/dataFrame["society"].shape[0]) * 100
print(f"Society_column_missing_value_precentage:- {Society_column_missing_value_precentage}%")

Society_column_missing_value_precentage:- 41.306306306306304%

In [124]:
dataFrame.groupby("society")["price"].mean().head(5)

society
3Codeli     58.5
7 ise P     50.0
A idse      50.0
A rtsai     73.0
ACersd     115.0
Name: price, dtype: float64

## Clean Data

In [125]:
""" Remove society column cause it has roughly 41% of missing values and unable to find any relationship with amoung other column data """

' Remove society column cause it has roughly 41% of missing values and unable to find any relationship with amoung other column data '

In [126]:
df1 = dataFrame.drop("society", axis = 1)

In [127]:
df1.head(5)

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00

In [128]:
df1.isnull().sum()

area_type         0
availability      0
location          1
size             16
total_sqft        0
bath             73
balcony         609
price             0
dtype: int64

In [129]:
"""
Can see some relationship between size and the bath data column. Using that relationship to fill the NAN values. If both get null that row will be removed. First remove all NAN values that in the balcony column
"""

'\nCan see some relationship between size and the bath data column. Using that relationship to fill the NAN values. If both get null that row will be removed. First remove all NAN values that in the balcony column\n'

In [130]:
df2 = df1.dropna(subset=['balcony'])

In [131]:
df2.isnull().sum()

area_type       0
availability    0
location        1
size            0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [132]:
df3 = df2.dropna()

In [133]:
df3.isnull().sum()

area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [134]:
df3["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 BHK', '1 RK',
       '4 BHK', '1 Bedroom', '2 Bedroom', '6 Bedroom', '8 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '11 Bedroom', '43 Bedroom',
       '14 BHK', '8 BHK', '12 Bedroom', '10 Bedroom', '13 BHK'],
      dtype=object)

In [135]:
df3["bhk"] = df3["size"].apply(lambda x: int(x.split(" ")[0]))

/tmp/ipykernel_10291/540722847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["bhk"] = df3["size"].apply(lambda x: int(x.split(" ")[0]))

In [136]:
df3.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00,2

In [137]:
df3['bhk'].unique()

array([ 2,  4,  3,  1,  6,  8,  7,  5, 11,  9, 27, 43, 14, 12, 10, 13])

In [138]:
df3[df3['bhk'] > 20]

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk
1718,Super built-up Area,Ready To Move,2Electronic City Phase II,27 BHK,8000,27.0,0.0,230.0,27
4684,Plot Area,Ready To Move,Munnekollal,43 Bedroom,2400,40.0,0.0,660.0,43

In [139]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [140]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [141]:
df3[~df3['total_sqft'].apply(is_float)].head(10)

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,2100 - 2850,4.0,0.0,186.000,4
122,Super built-up Area,18-Mar,Hebbal,4 BHK,3067 - 8156,4.0,0.0,477.000,4
137,Super built-up Area,19-Mar,8th Phase JP Nagar,2 BHK,1042 - 1105,2.0,0.0,54.005,2
165,Super built-up Area,18-Dec,Sarjapur,2 BHK,1145 - 1340,2.0,0.0,43.490,2
188,Super built-up Area,Ready To Move,KR Puram,2 BHK,1015 - 1540,2.0,0.0,56.800,2
410,Super built-up Area,Ready To Move,Kengeri,1 BHK,34.46Sq. Meter,1.0,0.0,18.500,1
549,Super built-up Area,18-Sep,Hennur Road,2 BHK,1195 - 1440,2.0,0.0,63.770,2
661,Super built-up Area,Ready To Move,Yelahanka,2 BHK,1120 - 1145,2.0,0.0,48.130,2
672,Built-up Area,18-Mar,Bettahalsoor,4 Bedroom,3090 - 5002,4.0,0.0,445.000,4
772,Super built-up Area,20-Dec,Banashankari Stage VI,2 BHK,1160 - 1195,2.0,0.0,59.935,2

In [142]:
def convert_sqft_range_to_num(x):
    total_sqft_range = x.split("-")
    if len(total_sqft_range) == 2:
        return (float(total_sqft_range[0]) + float(total_sqft_range[1])) / 2

    try:
        return float(x)
    except:
        return None

In [143]:
df4 = df3.copy()
df4["total_sqft"] = df4["total_sqft"].apply(convert_sqft_range_to_num)

In [144]:
df4.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2

In [145]:
df5 = df4.dropna()
df5.isnull().sum()

area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
price           0
bhk             0
dtype: int64

In [146]:
df5.duplicated().sum()

np.int64(564)

In [147]:
df6 = df5.drop_duplicates(keep = 'last')

In [148]:
df6.shape

(12104, 9)

In [149]:
df7 = df6.copy()

In [150]:
df7['price_per_sqft'] = ((df7['price'] * 100000) / df6['total_sqft'])

In [151]:
df7.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000

In [152]:
df7['location'].unique().shape[0]

1259

In [153]:
df7.location = df7.location.apply(lambda x : x.strip())

location_status = df7.groupby('location')['location'].agg('count').sort_values(ascending = False)
location_status

location
Whitefield                                  497
Sarjapur  Road                              352
Electronic City                             286
Kanakpura Road                              229
Thanisandra                                 228
                                           ...
Virudhu Nagar                                 1
Viswajit Layout                               1
Viswapriyanagar.begur Road.bommanahalli.      1
Vittal Mallya Road                            1
Vidhyanagar Cross                             1
Name: location, Length: 1248, dtype: int64

In [154]:
df7.location = df7.location.apply(lambda x: 'other' if x in location_status[location_status <= 10] else x)

In [155]:
df7['location'].unique().shape[0]

226

In [156]:
print(f"availability:- {len(df7['availability'].unique())}, area_type:- {len(df7['area_type'].unique())}, location:- {len(df7['location'].unique())}")

availability:- 78, area_type:- 4, location:- 226

In [158]:
"""
Find the outliers normally total one bhk requires atleast 300sqft if it lower than that the data should be anomalie and want to compare location, price, total_sqft and bhk. Same location and total_sqft 3 bhk price should need to higher than 2 bhk and so on. 
"""

'\nFind the outliers normally total one bhk requires atleast 300sqft if it lower than that the data should be anomalie\n'

In [159]:
df8 = df7.copy()

In [165]:
df8.shape

(12104, 10)

In [168]:
df9 = df8[df8['total_sqft'] / df8['bhk'] >= 300]

In [169]:
df9.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000

In [188]:
def remove_bhk_price_outliers(df):
    """
    Removes rows where, for the same location and total_sqft,
    a higher BHK house has a lower price than a lower BHK house.
    """
    df = df.sort_values(by=['location', 'total_sqft', 'bhk']).reset_index(drop=True)
    outlier_indices = []

    for (loc, sqft), group in df.groupby(['location', 'total_sqft']):
        group = group.sort_values(by='bhk')
        for i in range(1, len(group)):
            if group.iloc[i]['price'] < group.iloc[i - 1]['price']:
                outlier_indices.append(group.index[i])
    
    # Drop the outliers
    df_clean = df.drop(outlier_indices, axis=0).reset_index(drop=True)
    return df_clean

In [190]:
df10 = remove_bhk_price_outliers(df9)

In [192]:
df10.shape

(9418, 10)

In [194]:
df10.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,Ready To Move,1st Block Jayanagar,2 BHK,1000.0,3.0,2.0,60.0,2,6000.000000
1,Built-up Area,15-Dec,1st Block Jayanagar,3 BHK,1200.0,2.0,0.0,130.0,3,10833.333333
2,Super built-up Area,18-Jun,1st Block Jayanagar,2 BHK,1235.0,2.0,2.0,148.0,2,11983.805668
3,Super built-up Area,18-Jun,1st Block Jayanagar,3 BHK,1630.0,3.0,2.0,194.0,3,11901.840491
4,Super built-up Area,Ready To Move,1st Block Jayanagar,3 BHK,1875.0,2.0,3.0,235.0,3,12533.333333

In [197]:
df11 = df10.drop(['size', 'price_per_sqft'], axis = 1)

In [198]:
df11.head()

,area_type,availability,location,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,Ready To Move,1st Block Jayanagar,1000.0,3.0,2.0,60.0,2
1,Built-up Area,15-Dec,1st Block Jayanagar,1200.0,2.0,0.0,130.0,3
2,Super built-up Area,18-Jun,1st Block Jayanagar,1235.0,2.0,2.0,148.0,2
3,Super built-up Area,18-Jun,1st Block Jayanagar,1630.0,3.0,2.0,194.0,3
4,Super built-up Area,Ready To Move,1st Block Jayanagar,1875.0,2.0,3.0,235.0,3

In [200]:
df11.shape

(9418, 8)

In [204]:
df_encoded = pd.get_dummies(df11, columns = ['area_type', 'availability', 'location'])

In [202]:
df_encoded

,total_sqft,bath,balcony,price,bhk,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,availability_14-Nov,...,location_Vishveshwarya Layout,location_Vishwapriya Layout,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yelenahalli,location_Yeshwanthpur,location_other
0,1000.0,3.0,2.0,60.0,2,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,1200.0,2.0,0.0,130.0,3,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1235.0,2.0,2.0,148.0,2,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,1630.0,3.0,2.0,194.0,3,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,1875.0,2.0,3.0,235.0,3,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9413,14000.0,3.0,2.0,800.0,4,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
9414,16335.0,4.0,2.0,149.0,4,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
9415,30400.0,4.0,2.0,1824.0,6,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
9416,42000.0,8.0,3.0,175.0,9,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
9417,52272.0,2.0,1.0,140.0,3,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True